<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="Proiect2020Container" connectionString="metadata=res://*/Proiect2020.csdl|res://*/Proiect2020.ssdl|res://*/Proiect2020.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\localdb;initial catalog=master;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.serviceModel>
            <services>
                <service  name="ObjectWCF.MyPhotos" behaviorConfiguration="metadataSupport">
                    <endpoint address="http://localhost:8000/PC" 
                              binding="basicHttpBinding"
                              name="BasicHttpBinding_IProject" 
                              contract="ObjectWCF.IProject">
                        <identity>
                            <dns value="localhost" />
                        </identity>
                    </endpoint>
                    <endpoint address="mex" binding="mexHttpBinding" name="mexhttp"
                      contract="IMetadataExchange" />
                </service>
            </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="metadataSupport">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
                     <!--<serviceMetadata/>-->
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>