<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProject" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/PC" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProject" contract="IProject"
                name="BasicHttpBinding_IProject" />
        </client>
    </system.serviceModel>
    <connectionStrings>
        <add name="Proiect2020Container" connectionString="metadata=res://*/Proiect2020.csdl|res://*/Proiect2020.ssdl|res://*/Proiect2020.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\localdb;initial catalog=master;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>